/*
 * Copyright (c) 2020 The ZMK Contributors
 *

 */


#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -----------------------------------------------------------------------------------------
// | TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
// | ESC |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
// | CTRL |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ALT  |
//                    | GUI | LWR | SPC |   | ENT | RSE  | SHFT |
                        bindings = <
   &kp TAB  &kp Q &kp W &kp E &kp R &kp T   &kp Y &kp U  &kp I     &kp O   &kp P    &kp BSPC
   &kp ESC &kp A &kp S &kp D &kp F &kp G   &kp H &kp J  &kp K     &kp L   &kp SEMI &kp SQT
   &kp LCTRL &kp Z &kp X &kp C &kp V &kp B   &kp N &kp M  &kp COMMA &kp DOT &kp FSLH &kp RALT
                 &mo 2 &kp LSHFT &kp SPACE  &kp RET &mo 1 &kp LGUI
                        >;
                };
                lower_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BSPC |
// | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
// |      |     |     |     |     |     |   |     |     |     |     |     |      |
//                    | GUI |     | SPC |   | ENT |     |    | 
                        bindings = <
   &trans &trans &kp N7 &kp N8 &kp N9 &trans  &trans &kp N7 &kp N8 &kp N9 &kp N0 &kp BSPC
   &bt BT_CLR &trans &kp N4 &kp N5 &kp N6 &trans   &kp LEFT &kp DOWN &kp UP &kp RIGHT &trans &trans
   &trans &trans &kp N1 &kp N2 &kp N3 &trans  &trans  &trans &trans &trans &trans &trans
                                    &kp LGUI &trans &kp SPACE  &kp RET &trans &trans
                        >;
                };

                raise_layer {
// -----------------------------------------------------------------------------------------
// |      |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BSPC |
// |      |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
// |      |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
//                    | GUI |     | SPC |   | ENT |     |     |
                        bindings = <
   &trans  &kp EXCL &kp AT &kp HASH &kp DLLR &kp PRCNT   &kp ASTRK &kp LPAR  &kp AMPS &kp RPAR &kp CARET &kp BSPC
   &trans &trans   &trans &trans   &trans   &trans      &kp MINUS &kp LBRC &kp EQUAL &kp RBRC&kp BSLH &kp GRAVE
   &trans &trans   &trans &trans   &trans   &trans      &kp UNDER &kp LBKT &kp PLUS &kp RBKT &kp PIPE &kp TILDE
                             &kp LGUI &trans   &kp SPACE   &kp RET   &trans    &trans 
                        >;
                };
        };
};
